@import 'settings';
@import 'foundation';
@include foundation-everything(true);
@import 'font-awesome';
@import 'prettify-min';
@import 'code';

$bright-purple: #660099;
$dark-purple: #5d407b;
$light-purple: #d1b2e0;
$gray-purple: #9c8aa5;
$light-gray-purple: #bdaec6;
$light-blue-purple: #c3c3e5;
$light-bright-purple: #8c489f;


@mixin top-bar-width {
    width: 100%;
        
    @include breakpoint(medium) {
        width: auto;
    }
}

body {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

h1 {
    color: $dark-gray;
}

h2 {
    font-weight: 400;
    line-height: 1.1;
    margin-top: $subheader-margin-top;
}

.button {
    /*text-transform: uppercase;*/
}

.column-full {
    @include flex-grid-column();
}

.top {
    color: $light-bright-purple;
    font-size: 80%;
    margin-left: 0.8rem;
}

.top-bar {
    background-color: #fff;
    font-size: rem-calc(16.8);
    font-weight: 400;
    padding: 1.1rem 0;
    position: relative;
    z-index: 2;
    /*
    &:after  {
        border-bottom: 1px solid rgba(0,0,0,0.2);
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        content: '';
        display: block;
        position: absolute;
        height: 10px;
        right: -5px;
        bottom: -1px;
        left: -5px;
        z-index: 1;
    }
    */
    &-row {
        flex-flow: column;
        
        @include breakpoint(medium) {
            flex-flow: row;
        }
    }
    
    &-title {
        @include top-bar-width;
        margin: 0;
        
        &-link {
            display: block;
            line-height: 1;
            padding: 0.7rem 1.2rem;
            text-align: center;
        }
    }
    
    &-left {
        @include top-bar-width;
        
        > .menu {
            background-color: transparent;
            flex-flow: column;

            @include breakpoint(medium) {
                flex-flow: row;
            }
        
             > li {
                position: relative;
                @include top-bar-width;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    transform: scale(0.9);
                    transition: 0.2s;
                }

                &:hover:after {
                    background-color: $primary-color;
                    transform: scale(1);
                }

                > a {
                    color: $primary-color;
                    display: block;
                    position: relative;
                    text-align: center;
                    transition: 0.2s;
                    z-index: 2;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.home-banner {
    background: linear-gradient(to bottom, #ffffff 20%, #adcee3 100%); /* addef3 */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    
    &-message {
        @include breakpoint(medium) {
            margin-bottom: 50px;
        }
        
        > h1 {
            margin-left: -3px;
        }
        
        > .button {
            background-color: #496989;
            margin: 0;
            padding-right: 2.2rem;
            padding-left: 2.2rem;
        }
    }
    
    &-headline {
        font-size: rem-calc(24);
        font-weight: 400;
        line-height: 1.2;
    }
    
    &-camera {
        background-color: whitesmoke;
        border: 60px solid $dark-purple;
        border-radius: 50%;
        height: 400px;
        position: absolute;
        right: 25px;
        bottom: -25%;
        width: 400px;
        
        @include breakpoint(medium) {
            /*top: -25%;*/
            right: auto;
            /*bottom: auto;*/
            left: 0;
        }
    }
}

section {
    @include flex-grid-row();
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
}

.demo {
     background-color: #eee;
}

.get-started {
    background-color: #fafcff;
    border-top: 1px solid #ccc;
}

.documentation {
    border-top: 1px solid #ccc;
}

.footer {
    background-color: #bdaec6;
    
    &-copyright {
        margin-bottom: 0;
    }
    
    &-github {
        margin-right: 0.07rem;
    }
}

.demo-controls {
    @include flex-grid-column(12);
    background-color: #bbb;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    padding: 1.3em 2.0em;
    
    @include breakpoint(large) {
        @include flex-grid-size(expand);
        height: 500px;
    }
}

.bcv-scene {
    background-color: lightgray;
    top: 0px;
    left: 0px;
}

.custom-dropdown {
    position: relative;
    
    &-input {
        cursor: pointer;
        font-size: rem-calc(20);
        font-weight: $header-font-weight;
        line-height: $header-lineheight;
        margin-bottom: $header-margin-bottom;
        
        @include breakpoint(medium) {
            font-size: rem-calc(28);
        }
    }
    
    &-arrow {
        font-size: 85%;
        padding-left: 0.2rem;
        transform-origin: 57% 47%;
        transition: all 0.2s ease-out;
    }
    
    &-popup-list {
        background-color: #eee;
        box-shadow: 0 0 7px rgba(0,0,0,0.2);
        min-width: 150px;
        padding: 0.2rem 0;
        position: absolute;
        top: 100%;
        left: 0;
        
        &:after {
            border: 1px solid rgba(0,0,0,0.1);
            content: '';
            display: block;
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            z-index: 1;
        }
        
        > li {
            color: black;
            cursor: pointer;
            font-size: 1rem;
            padding: 0.1rem 1.4rem 0.25rem;
            position: relative;
            z-index: 2;
            
            &:hover {
                background-color: #bc78cf;
            }
        }
    }
}

.behavior-actions {
    margin-top: 0.4em;
}

.pt {
    position: relative;
    width: 1350px;
    height: 900px;
}

.element {
    /*background-color: #5d407b;*/
    border: 1px solid rgba(0,0,0,0.05);
    position: absolute;
    text-align: center;
    width: 70px;
    height: 85px;
    
    &:hover {
        background: white !important;
        border-color: rgba(0,0,0,0.3);
    }
    
    &:after {
        border: 1px solid rgba(0,0,0,0.1);
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    &-number {
        color: rgba(255,255,255,0.8);
        font-size: 0.7rem;
        line-height: 1.3;
        padding: 0.4rem 0.4rem 0 0;
        text-align: right;
        text-shadow: 0 0 5px rgba(0,0,0,0.3);
    }

    &-symbol {
        color: rgba(255,255,255,1);
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1.2;
        text-shadow: 0 0 10px rgba(255,255,255,0.6);
    }

    &-name {
        color: rgba(255,255,255,0.8);
        font-size: 0.5rem;
        line-height: 1.3;
        text-shadow: 0 0 5px rgba(0,0,0,0.3);
    }

    &-weight {
        color: rgba(255,255,255,0.8);
        font-size: 0.5em;
        line-height: 1.0;
        text-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
}

.metal {
    background: linear-gradient(to bottom, #692583 30%, #5d407b 100%);
}

.metalloid {
    background: linear-gradient(to bottom, #bc78cf 30%, #8c489f 100%);
}

.nonmetal {
    background: linear-gradient(to bottom, #7999b9 30%, #496989 100%);
}