@import 'settings';
@import 'foundation';
@include foundation-everything(true);
@import 'prettify-min';
@import 'code';

$bright-purple: #660099;
$dark-purple: #5d407b;
$light-purple: #d1b2e0;
$gray-purple: #9c8aa5;
$light-gray-purple: #bdaec6;
$light-blue-purple: #c3c3e5;
$light-bright-purple: #8c489f;


@mixin top-bar-width {
    width: 100%;
        
    @include breakpoint(medium) {
        width: auto;
    }
}

body {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

h1 {
    color: $dark-gray;
}

h2 {
    font-weight: 400;
    line-height: 1.1;
    margin-top: $subheader-margin-top;
}

.button {
    /*text-transform: uppercase;*/
}

.top-bar {
    background-color: #fff;
    font-size: rem-calc(16.8);
    font-weight: 400;
    padding: 1.1rem 0;
    position: relative;
    z-index: 2;
    /*
    &:after  {
        border-bottom: 1px solid rgba(0,0,0,0.2);
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        content: '';
        display: block;
        position: absolute;
        height: 10px;
        right: -5px;
        bottom: -1px;
        left: -5px;
        z-index: 1;
    }
    */
    &-row {
        flex-flow: column;
        
        @include breakpoint(medium) {
            flex-flow: row;
        }
    }
    
    &-title {
        @include top-bar-width;
        margin: 0;
        
        &-link {
            display: block;
            line-height: 1;
            padding: 0.7rem 1.2rem;
            text-align: center;
        }
    }
    
    &-left {
        @include top-bar-width;
        
        > .menu {
            background-color: transparent;
            flex-flow: column;

            @include breakpoint(medium) {
                flex-flow: row;
            }
        
             > li {
                position: relative;
                @include top-bar-width;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    transform: scale(0.9);
                    transition: 0.2s;
                }

                &:hover:after {
                    background-color: $primary-color;
                    transform: scale(1);
                }

                > a {
                    color: $primary-color;
                    display: block;
                    position: relative;
                    text-align: center;
                    transition: 0.2s;
                    z-index: 2;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.home-banner {
    background: linear-gradient(to bottom, #ffffff 20%, #adcee3 100%); /* addef3 */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    
    &-message {
        @include breakpoint(medium) {
            margin-bottom: 50px;
        }
        
        > .button {
            background-color: #496989;
            margin: 0;
            padding-right: 2.2rem;
            padding-left: 2.2rem;
        }
    }
    
    &-headline {
        font-size: rem-calc(24);
        font-weight: 400;
        line-height: 1.2;
    }
    
    &-camera {
        background-color: whitesmoke;
        border: 60px solid $dark-purple;
        border-radius: 50%;
        height: 400px;
        position: absolute;
        right: 25px;
        bottom: -25%;
        width: 400px;
        
        @include breakpoint(medium) {
            /*top: -25%;*/
            right: auto;
            /*bottom: auto;*/
            left: 0;
        }
    }
}

.main {
    background-color: #fafcff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.site-footer {
    background-color: $light-gray;
    padding: 2.0rem;
}

.demo-sidebar {
    
}

.bcv-scene {
    background-color: lightgray;
    top: 0px;
    left: 0px;
}