.bcv-camera {
    overflow: hidden;
    position: relative;
}

.bcv-camera *::selection {
    background-color: transparent;
}

.bcv-content-root {
    position: absolute;
}

.bcv-transform {
    transform-origin: 0 0;
    transition-duration: 0.05s;
}

.bcv-rotate {
    transition-duration: 0s;
}

.bcv-ignore-pointer-events {
    pointer-events: none;
}

.oculo-debug {
    background-color: #ddd;
    background: linear-gradient(45deg, #ccc 0%, #fff 50%, #fff 100%);
    box-shadow: -4px 2px 10px rgba(0,0,0,0.4);
    color: #444;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 30px 30px;
    position: fixed;
    top: -5px;
    right: 0;
    bottom: -5px;
    width: 400px;
}

.oculo-panel-handle {
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: inset -3px 3px 3px rgba(0,0,0,0.5);
    height: 50px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    left: 10px;
    width: 10px;
}

.oculo-scrollable {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.oculo-scroll-indicator {
    height: 7px;
    width: 30px;
    background-color: red;
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.oculo-opaque {
    opacity: 1;
}

.oculo-transparent {
    opacity: 0;
}