.bcv-camera {
    overflow: hidden;
    position: relative;
}

.bcv-camera *::selection {
    background-color: transparent;
}

.bcv-content-root {
    position: absolute;
}

.bcv-transform {
    transform-origin: 0 0;
    transition-duration: 0.05s;
}

.bcv-rotate {
    transition-duration: 0s;
}

.bcv-ignore-pointer-events {
    pointer-events: none;
}