.bcv-camera {
    overflow: hidden;
    position: relative;
}

.bcv-camera *::selection {
    background-color: transparent;
}

.bcv-content-root {
    position: absolute;
}

.bcv-transform {
    transform-origin: 0 0;
    transition-duration: 0.05s;
}

.bcv-rotate {
    transition-duration: 0s;
}

.bcv-ignore-pointer-events {
    pointer-events: none;
}

.oculo-debug {
    background-color: rgba(0,0,0,0.85);
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.0em 3.0em;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
}